<dt><legend>{{thing.name}}</legend></dt>

<dt><label>disambiguatingDescription</label></dt>
<dd>{{thing.disambiguatingDescription}}</dd>

<dt><label>id</label></dt>
<dd>{{thing.id}}</dd>

<dt>{{#link-to 'things.thing.edit' thing class='btn'}}Edit{{/link-to}}</dt>
