{{#link-to 'things.thing.view' thing}}{{thing.name}}{{/link-to}}
{{#link-to 'things.thing.edit' thing class='btn'}}Edit{{/link-to}}

{{#button-with-confirmation shortName='Del' confirmHook=confirmHook thing=thing}}
Are you sure you want to delete this Thing?
{{/button-with-confirmation}}
