<legend>
  {{#if model.id}}
    {{model.name}}
  {{else}}
    New Thing
  {{/if}}
</legend>

<fieldset>
  <div>
    <label for="name">name</label>
    {{input placeholder="Thing name" value=model.name}}
  </div>
  <div>
    <label for="disambiguatingDescription">disambiguatingDescription</label>
    {{input placeholder="Thing disambiguatingDescription" value=model.disambiguatingDescription}}
  </div>
  <button {{action submitHook}}>{{formLabel}}</button>
  <div>
    {{#each model.errors.name as |error|}}
      {{error.message}}
    {{/each}}
  </div>
</fieldset>
