// Utility to fix the height of a dom object
//
// @param {STR} $sz unit size
//
// @example
// h1 {
//   @include fixed_height(100px);
// }
//
// // h1 {
// //    height: 100px;
// //    min-height: 100px;
// //    max-height: 100px;
// // }
@mixin fixed_height($sz) {
  height: $sz;
  min-height: $sz;
  max-height: $sz;
}
