header {
  summary {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: nth($fontonacci, 2);
  }

  > img,
  > a > img {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
  }
}
