$heavens-edge: (100% - $gutterheaven - $body-space);

body {
  padding: 0;
  margin: 0;
  font-family: $body-family;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,fceed1+51,fceed1+100 */
  // background: #ffffff; /* Old browsers */
  // background: -moz-linear-gradient(left, #ffffff 0%, #ffffff $heavens-edge, #fceed1 $heavens-edge, #fceed1 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff $heavens-edge,#fceed1 $heavens-edge,#fceed1 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to right, #ffffff 0%,#ffffff $heavens-edge,#fceed1 $heavens-edge,#fceed1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fceed1',GradientType=1 ); /* IE6-9 */

  @media screen and (max-width: $contents-cosy) {
    background: #ffffff;
  }
}
