#{$heaven} {
  @include colorize_god($heaven-color, $pillar-color);
  position: fixed;
  top: 50px !important;
  left: (100% - $gutterheaven);
  padding-left: $body-space !important;
  padding-top: $body-space !important;
  padding-bottom: $body-space !important;
  vertical-align: middle !important;
  @media screen and (max-width: $contents-loose) {
    top: 44px !important;
    position: sticky;
    top: inherit;
    left: inherit;
    padding: 10px 10px !important;
  }
}
