#{$hell} {
  @include colorize_god(white, $pillar-color);
  padding-left: 3px !important;
  padding-right: 3px !important;
  text-align: center !important;

  @media screen and (max-width: $contents-cosy) {
    position: relative;
    top: inherit;
    left: inherit;
    padding: 3px !important;
  }
}
