// SIZE ==================
$god-h1: 200%; // font size of h1.
$god-h2: 100%; // font size of h6.
$pad: 0.1%; // the pad (as a percentage to help scaling).
$gutterheaven: 40%; // gutter width right (as a percentage to help scaling).
$gutterhell: 10%; // gutter width left (as a percentage to help scaling).
// MEDIA BREAKS ==================
$contents-loose: 620px; // loose - loose padding - more white space.
$contents-cosy: 610px; // cosy - less padding - increasing overlap between sinners and *pillar*.
$contents-tight: 600px; // tight - minimal padding - heaven and hell join the pillar but full width.
// COLORS ==================
$heaven-color: #f0a202;
$hell-color: #002642;
$pillar-color: darken($heaven-color, 30%);
// TEXT BASICS ==================
$body-color: darken($hell-color, 30%); // for body level text.
$body-family: "Roboto+Mono", sans-serif;
$body-space: 2%;
// BELIEVERS ==================
$container: ("body>div"); // sin classes only affect direct children of these
$pillar: (
  h1,
  h2,
  h3,
  h4,
  p,
  ul
); // pillar - all tags are stictly contained the same way - no sinners here.
$heaven: (h5, form, dl); // hangs right - gets the best views.
$hell: (header, legend, nav); // hangs left.
