/// icarus theme
/// ============================================================================
/// This is your theme file. Other elioSinners can use this theme by importing
/// it into their `judge.scss` file. They provide their own settings.
///
/// @example
///
/// @import "./node_modules/@elioway/icarus/stylesheets/theme";
/// ============================================================================
// import your elioBelieve functions and mixins here.
@import "mixins/fixed_height";
$container: sl-to-list($container, comma);

@import "body";

#{$container} {
  padding: 0;
  margin: 0;

  > {
    // import your elioBelieve styles here
    @import "pillar";
    @import "heaven";
    @import "hell";
    // Ensure these tags are in the $pillar setting
    @import "h1/pillar";
    @import "h2/pillar";
    @import "h3/pillar";
    @import "h4/pillar";
    @import "p/pillar";
    @import "ul/pillar";
    // Ensure these tags are in the $heaven setting
    @import "form/heaven";
    @import "dl/heaven";
    // Ensure these tags are the $hell setting
    @import "header/hell";
    @import "nav/hell";
    @import "legend/hell";

    // Ensure these tags are not in any other settings
    @import "menu/atheist";
    @import "footer/atheist";
  }
}

@import "a/theme";
@import "button/theme";
@import "label/theme";
@import "legend/theme";
