form {
  legend {
    font-size: nth($fontonacci, 4);
    @include polite();
  }

  fieldset {
    @include polite();

    > div {
      margin: 0 !important;
      padding: $body-space 0 0 !important;
    }

    > button {
      margin-top: $body-space !important;
    }
  }
}
