a.btn,
a.btn:visited,
a.btn:hover,
a.btn:active,
button {
  @include colorize_god(
    lighten($heaven-color, 20%) !important,
    darken($heaven-color, 20%) !important,
    none !important
  );
  font-size: 12px !important;
  padding: 3px 5px !important;
  margin: 1px 1px !important;
  display: inline-block !important;
  text-shadow: none !important;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
