nav {
  // style for menu when it is not in the pillar, hell or heaven
  top: 40px !important;
  position: sticky;
  padding-bottom: $body-space !important;
  padding-top: $body-space !important;

  > ul {
    list-style-type: none;
    margin: 0;
    padding: $body-space 0 !important;
    li {
      text-align: center;
      padding: $body-space 0 !important;
      border-bottom: $hell-color solid 0.5px;
    }
    li:last-child {
      border-bottom: none;
    }
    a {
      text-decoration: none;
    }
  }
}
