
<legend>
  {{#link-to "things"}}icarus{{/link-to}}
</legend>

<header>
  {{#link-to "things"}}<img src="apple-touch-icon.png">{{/link-to}}
</header>

<nav>
  {{#link-to "things.new" class="btn"}}New Thing{{/link-to}}
</nav>

{{outlet}}

<footer>
  <p>The start of {{#link-to "things.new" class="btn"}}Better Things{{/link-to}}</p>
  <img style="width: auto; height: 48px; vertical-align:  middle;" src="elio-icarus-logo.png" />
</footer>
